@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Merienda:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-1: #ffffff;
    --cor-2: #222222;
    --blue: #0080ff;
    --body: #f8f8f8;
    --cor-4: #00df5d;
    --cor-6: #17d365;
    --destaque: #EF3829;
    --boxShadow: 0 0px 20px rgba(133, 133, 133, 0.15);
    --boxShadowMenu: 2px 2px 10px rgba(206, 206, 206, 0.2);
}

.dark-theme {
    --cor-1: #222222;
    --cor-2: #ffffff;
    --boxShadowMenu: 2px 2px 10px rgba(43, 43, 43, 0.3);
}

html {
    max-height: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	background-color: var(--cor-1);
}

header {
    width: 100%;
	z-index: 99;
	position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-1);
    box-sizing: border-box;
    padding: 0 80px;
    height: 6vh;
    min-height: 50px;
    font-family: 'Poppins', sans-serif;
    box-shadow: var(--boxShadowMenu);
}

.logo {
    color: var(--cor-2);
    font-weight: normal;
    font-family: 'Marck Script', cursive;
    cursor: default;
}

#icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 0;
}

main {
    padding-top: 6vh;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.destaque {
    color: var(--destaque);
}

.linkAtualizado {
    text-align: center;
}

.aviso {
    text-align: center;
}

.titleSection {
    text-align: center;
    margin-top: 20px;
    color: var(--cor-2);
}

.containerCards {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 700px;
    padding: 20px;
    margin: 20px;
    position: relative;
    background-color: var(--cor-1);
    border-radius: 20px;
    box-shadow: var(--boxShadow);
}

.cardPos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 770px;
    padding: 20px;
    margin: 20px;
    position: relative;
    background-color: var(--cor-1);
    border-radius: 20px;
    box-shadow: var(--boxShadow);
}

.fitaTopo {
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fitaTopo::before {
    content: 'Portabilidade';
    width: 150%;
    height: 40px;
    position: absolute;
    background-color: var(--blue);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--cor-1);
    letter-spacing: 1.5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fitaTopo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #0068cf;
    z-index: -1;
    box-shadow: 140px -140px #0068cf;
}

.fitaTopoExclusivo {
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fitaTopoExclusivo::before {
    content: 'Exclusivo';
    width: 150%;
    height: 40px;
    position: absolute;
    background-color: var(--destaque);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--cor-1);
    letter-spacing: 1.5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fitaTopoExclusivo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #b82214;
    z-index: -1;
    box-shadow: 140px -140px #b82214;
}

.card .titleCard {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--cor-2);
}

.cardPos .titleCardExclusivo {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    color: var(--cor-2);
}

.cardPos .titleCardPortabilidade {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40px;
    color: var(--cor-2);
}

.cardPos .titleCard {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: var(--cor-2);
}

.appIlimi {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cardPos .appIlimi {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card .infoCidades {
    display: flex;
    align-items: center;
}

.card .infoCidades .iconInfo {
    margin-left: 10px;
}

.card p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--cor-2);
}

.cardPos p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--cor-2);
}

.appIlimi img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.extraPlay {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
}

.extraPlay img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card .info {
    margin-top: 15px;
}

.cardPos .info {
    margin-top: 30px;
}

.cardPos #infoPos {
    margin-top: 10px;
}

.info2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    max-width: 100%;
    text-align: center;
    background-color: var(--cor-1);
    box-shadow: var(--boxShadow);
}
  
footer p {
    color: var(--cor-3);
    padding: 5px 10px;
    font-size: 16px;
    color: var(--cor-2);
}

