@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Merienda:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-1: #ffffff;
    --cor-2: #0080ff;
    --body: #f8f8f8;
    --cor-4: #00df5d;
    --cor-5: #000000;
    --cor-6: #17d365;
    --destaque: #EF3829;
}

html {
    max-height: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	background-color: var(--body);
}

header {
    width: 100%;
	z-index: 99;
	position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-1);
    box-sizing: border-box;
    padding: 0 80px;
    height: 6vh;
    min-height: 50px;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: var(--cor-5);
    font-weight: normal;
    font-family: 'Marck Script', cursive;
    cursor: default;
}

#menu {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 10px;
}

.nav-list li a {
    font-weight: normal;
    padding: 8px;
    font-weight: 600;
    color: var(--cor-5);
    transition: all 0.3s ease;
    text-decoration: none;
    scroll-behavior: smooth;
}

.nav-list li a:hover {
    color: var(--destaque);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: var(--cor-1);
    margin: 8px;
    transition: all .3s ease;
}

main {
    padding-top: 6vh;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.destaque {
    color: var(--destaque);
}

.titleSection {
    text-align: center;
    margin-top: 20px;
}

.containerCards {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 650px;
    padding: 20px;
    margin: 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.cardPos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 770px;
    padding: 20px;
    margin: 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.fitaTopo {
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fitaTopo::before {
    content: 'Mais Vendido';
    width: 150%;
    height: 40px;
    position: absolute;
    background-color: var(--destaque);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--cor-1);
    letter-spacing: 1.5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fitaTopo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #b82214;
    z-index: -1;
    box-shadow: 140px -140px #b82214;
}

.card .titleCard {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

.cardPos .titleCard {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.appIlimi {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cardPos .appIlimi {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.cardPos p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.appIlimi img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.extraPlay {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
}

.extraPlay img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card .info {
    margin-top: 30px;
}

.cardPos .info {
    margin-top: 30px;
}

.info2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    max-width: 100%;
    text-align: center;
    background-color: var(--cor-1);
}
  
footer p {
    color: var(--cor-3);
    padding: 5px 10px;
    font-size: 16px;
}


@media screen and (max-width: 930px) {
    body {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
  
    header {
        width: 100%;
        z-index: 99;
        position: fixed;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 30px;
        height: 6vh;
        min-height: 50px;
    }
    
    nav a {
        color: var(--cor-5);
        text-decoration: none;
        transition: all 0.3s ease;
    }
    
    nav a:hover {
        color: var(--cor-2);
    }
    
    .nav-list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    .nav-list li {
        letter-spacing: 2px;
        margin-left: 10px;
    }
    
    .mobile-menu {
        display: none;
        cursor: pointer;
    }
    
    .mobile-menu div {
        width: 32px;
        height: 2px;
        background-color: var(--cor-5);
        margin: 8px;
        transition: all 0.3s ease;
    }
}


@media screen and (max-width: 850px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-1);
        box-sizing: border-box;
        padding: 0 50px;
        height: 6vh;
        min-height: 50px;
        font-family: 'Poppins', sans-serif;
    }
  
    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 70%;
        height: 94vh;
        background-color: var(--cor-1);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 80px 0 50% 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
  
    .nav-list li {
        max-height: 50%;
        margin-left: 0;
        opacity: 0;
    }
  
    .nav-list li a {
        padding: 20px 10px;
        font-family: 'Poppins', sans-serif;
    }
  
    .mobile-menu {
        display: block;
    }
  
    .nav-list.active {
        transform: translateX(0%);
    }
  
    @keyframes navLinkFade {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }
  
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
  
    .mobile-menu.active .line-1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
  
    .mobile-menu.active .line-2 {
        opacity: 0;
    }
  
    .mobile-menu.active .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}